<h1><%=@post.body %></h1>
	<ul>
 <% @post.comments.each do |comment| %>
 	<li><%=comment.body%></li>
 <% end %>
 </ul>
<p>by <%=@post.user.fname%></p>

<%= form_for [@post, Comment.new] do |f| %>
        <p>
                <%= f.label :body, "New comment" %><br/>
                <%= f.text_area :body %>
        </p>
        <p><%= f.submit "Add comment" %></p>
<% end %>
